src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d6dacca7-b4bd-4c75-810e-88b24e7b842e" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="implementationFlow" doc:id="1fef06b8-9c1f-4442-83c9-9460fc4ae007" >
		<http:listener doc:name="Listener" doc:id="2a4b0e0c-739c-4192-a389-1d378f06e2e5" config-ref="HTTP_Listener_config" path="/githubsync"/>
		<ee:transform doc:name="Transform Message" doc:id="f54593ee-cad9-48e9-820e-9f562de50e03" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Hare Krishna"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7faa3a6f-56c6-463e-a546-d09dbbc36fec" message='#["end of flow"]'/>
	</flow>
</mule>
